<div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product %></h5>
      <p class="card-text"><%= product.description%></p>
      price: <%= content_tag :del, product.price %>
      <%= content_tag :span, product.sale_price %> <br>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

